* {
  margin: 0;
  padding: 0;
}

.quiz-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-content {
  display: flex;
  flex-direction: column;
}

.quiz-button {
  padding: 5px;
}